$fonts: 'Sevillana', cursive;
$auto: 0 auto;
$center: center;
$flex: flex;
$absolute: absolute;
$relative: relative;
$devil: 600px;
$angel: 400px;
$universal: all 0.3s ease-out;
$soBig: uppercase;
$max: 100%;
$total: 200;
$none: transparent;
$vision: visible;